VITE_SUPABASE_URL=https://upiqfxfkuedfjgrdfeqt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwaXFmeGZrdWVkZmpncmRmZXF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcyNDcyMjYsImV4cCI6MjEwMjgyMzIyNn0.EusamNRFPzfyufICqCKZlS_WFfLVgRTzOtWEBt1H9WM
